button {
    background-color: #A4FFAF;
    height: 65px;
    border: 0;
    color: #24232C;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}