.main {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .container {
        display: flex;
        flex-direction: column;
        gap: 32px;
        background-color: #24232C;
        padding: 32px;
    }
}