.password__display {
    display: flex;
    justify-content: space-between;
    background-color: #24232C;
    padding: 19px 32px;
    align-items: center;

    input {
        background-color: transparent;
        border: none;
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 42px;
        color: #E6E5EA;
        
        &::placeholder {
            color: #E6E5EA;
            mix-blend-mode: normal;
            opacity: 0.25;
        }

        &:focus {
            outline: none;
        }

    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;

        .icon {
            width: 21px;
            height: 24px;
            fill: #A4FFAF;
        }
    }
}