.password__strength {
    display: flex;
    align-items: center;
    background-color: #18171F;
    padding: 20px 35px;
    justify-content: space-between;

    span {
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: #817D92;
    }

    .password__strength_levels {
        display: flex;
        justify-content: space-between;
        gap: 8px;
        
        .password__strength_level {
            width: 10px;
            height: 28px;
            margin-right: 5px;
            border: 2px solid #E6E5EA;
        }
    }
}